<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388649303207-lf5g3bsd3njo0jq11gg66us215aah0v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388649303207-lf5g3bsd3njo0jq11gg66us215aah0v4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>388649303207-41hq6rk3p1iidlite614i8d7grpjsavg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhcUIcS-85CxGL29y7lGGupihdpvEa4e4</string>
	<key>GCM_SENDER_ID</key>
	<string>388649303207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.gramikretailer</string>
	<key>PROJECT_ID</key>
	<string>agri-junction-a4f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-junction-a4f9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388649303207:ios:daa1176a82ffb605eb2f82</string>
</dict>
</plist>